{% extends 'huiu/base.html' %}
{% block content %}
    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading">server Status</div>
        <div class="panel-body">
                <p>{{ time }}</p>
        </div>
        
        <!-- Table --> 
        <table class="tables">
            <thead>
                <tr>
                    <th>server name</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                {% for st in status %}
                <tr>
                <td>days</td>
                <td>{{ st.systime }}</td>
                </tr>
                <td>users</td>
                <td>{{ st.usersnumber }}</td>
                <tr>
                <td>cpu</td>
                <td>{{ st.cpufree }}</td>
                </tr>
                <tr>
                <td>idle</td>
                <td>{{ st.idlestat }}</td>
                </tr>
                <tr>
                <td>load</td>
                <td>{{ st.loadavg }}</td>
                </tr>
                <tr>
                <td>memoryfree</td>
                <td>{{ st.memoryfree }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
